---
import Layout from "../../layouts/Layout.astro";
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";
import { BLOG_COLLECTION, BLOG_URL } from "../../constants.ts"; // Add this import
import BlogCard from "../../components/BlogCard.astro";
import { CircleIcon, Grid2x2, TextAlignJustify } from "@lucide/astro";

const allBlogPosts = await getCollection(BLOG_COLLECTION)
allBlogPosts.sort((a,b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<script>
    import { gsap } from "gsap";
	import { SplitText } from "gsap/SplitText";

    const splitHero = SplitText.create("#hero", {
        type: "words",
        autoSplit: true,
    });

    gsap.from(splitHero.words, {
        duration: 1,
        y: 50,
        autoAlpha: 0,
        stagger: 0.08,
        scrub: true,
        scrollTrigger: { trigger: "#hero" },
    });

    document.addEventListener("astro:page-load", function() {

        /* Toggle the view between list and grid modes */
        const viewToggles = document.querySelectorAll(".view-toggle") as NodeListOf<HTMLInputElement>;
        const blogList = document.querySelector("#blog-list");
        const blogGrid = document.querySelector("#blog-grid");
        const savedView = localStorage.getItem("view") || 'list';


        // Initialize states for toggles
        viewToggles.forEach(toggle => {
            if (toggle.dataset.view == savedView) {
                toggle.checked = true;
            } else {
                toggle.checked = false;
            }
        });

        updateView(savedView);

        viewToggles.forEach(toggle => {
        toggle.addEventListener('click', (e) => {
            const target = e.target as HTMLInputElement;
            const selectedView = target.dataset.view;

            if (!target.checked) return;

            // Sync with other toggle
            viewToggles.forEach((other) => {
                if (other.dataset.view == selectedView) {
                    other.checked = true;
                }
            })

            if (selectedView) {
                updateView(selectedView);
            }
            })
        })

        function updateView(view: string) {
            // Save selection in local storage
            localStorage.setItem("view", view)

            if (view == "list") {
                blogGrid?.classList.add("hidden");
                blogList?.classList.remove("hidden");
                blogGrid?.classList.add("md:hidden"); 
                blogGrid?.classList.add("lg:hidden");
                
            }
            if (view == "grid") {
                blogList?.classList.add("hidden");
                blogGrid?.classList.remove("hidden"); 
                blogGrid?.classList.remove("md:hidden"); 
                blogGrid?.classList.remove("lg:hidden"); 
            }

        }

    });

</script>

<Layout>
    <section data-lag class="flex flex-col w-full px-4 mx-auto pt-20 xl:px-0">
        <header class="py-32 max-w-5xl mx-auto">
            <h1 id="hero" class="primary-title text-center max-w-2xl mx-auto">
                Stories and <span class="secondary-title">Perspectives</span> from William
            </h1>
        </header>
    </section>

    <section class="px-4 xl:px-0">
        <div id="options" class="flex justify-between gap-16  w-full max-w-5xl mx-auto pb-12 items-center">
            <span class="hidden w-fit gap-4 lg:flex">
                <label class="hover:cursor-pointer">
                    <input name="desktop-view" checked data-view="list" class="view-toggle peer sr-only list-radio-btn opacity-50 checked:opacity-100" type="radio"/>
                    <TextAlignJustify id="desktop-grid-icon"  class="opacity-50 peer-checked:opacity-100 transition-all duration-300" size={24}/>
                </label>
                <label class="hover:cursor-pointer">
                    <input name="desktop-view" data-view="grid" class="view-toggle peer sr-only grid-radio-btn opacity-50 checked:opacity-100" type="radio"/>
                    <Grid2x2 id="desktop-grid-icon" class="opacity-50 peer-checked:opacity-100 transition-all duration-300" size={24}/>
                </label>
            </span>
        </div>

        <ul id="blog-list" class="opacity-100 flex flex-col gap-8 w-full min-h-[600px] max-w-5xl mx-auto transition-opacity duration-500 ">
            {allBlogPosts.map((post) => (
                <BlogCard post={post} />
                <hr class="border-dashed text-(--color-gray)"/>
            ))}
        </ul>

        <div id="blog-grid" class="hidden md:hidden lg:hidden flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-5xl mx-auto">
            {allBlogPosts.map((post) => 
                <a class="w-full group" href={BLOG_URL+post.id}>
                    <Image src={post.data.cover} alt="cover image for blog" fit="fill" width="200" height="400" class="object-cover object-center !m-0 aspect-square block w-full  h-[340px] md:h-[240px] rounded-xl"/>
                    <header class="mt-2">
                        <span class="flex items-center">
                            <CircleIcon size={12} class="bg-white rounded-full w-0 scale-0 opacity-0 group-hover:mr-2 group-hover:w-[12px] group-hover:scale-100 group-hover:opacity-100 transition-all duration-300 ease-in-out overflow-hidden"/>
                            <h3 class="text-white primary-header-3">{post.data.title}</h3>
                        </span>								
                        <p class="primary-body text-(--color-gray)">{new Date(post.data.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long',day: 'numeric',})}</p>
                    </header>
                </a>
            )}
        </div>
    </section>
</Layout>


<div id="floating-toggle" class="fixed bottom-0 w-fit h-fit flex flex-col justify-center items-end lg:hidden bg-(--background-secondary) rounded-full mb-8 px-6 py-3 left-[50%] translate-x-[-50%]">
    <span class="flex w-fit gap-4 lg:hidden">
        <label class="hover:cursor-pointer">
            <input name="mobile-view" checked data-view="list" class="view-toggle peer sr-only list-radio-btn opacity-50 checked:opacity-100" type="radio"/>
            <TextAlignJustify id="mobile-list-icon" class="opacity-50 peer-checked:opacity-100 transition-all duration-300" size={24}/>
        </label>
        <label class="hover:cursor-pointer">
            <input name="mobile-view" data-view="grid" class="view-toggle peer sr-only grid-radio-btn opacity-50 checked:opacity-100" type="radio"/>
            <Grid2x2 id="mobile-grid-icon" class="opacity-50 peer-checked:opacity-100 transition-all duration-300" size={24}/>
        </label>
    </span>
</div>