---
import Layout from "../../layouts/Layout.astro";
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";
import { BLOG_COLLECTION, BLOG_URL } from "../../constants.ts"; // Add this import
import BlogCard from "../../components/BlogCard.astro";
import { Grid2x2, List, Rows3, TextAlignJustify } from "@lucide/astro";

const allBlogPosts = await getCollection(BLOG_COLLECTION)
allBlogPosts.sort((a,b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<script src="../../scripts/gsap.min.js"></script>

<script>
    import { gsap } from "gsap";
	import { SplitText } from "gsap/SplitText";

    const splitHero = SplitText.create("#hero", {
        type: "words",
        autoSplit: true,
    });

    gsap.from(splitHero.words, {
        duration: 1,
        y: 50,
        autoAlpha: 0,
        stagger: 0.08,
        scrub: 1,
        scrollTrigger: { trigger: "#hero" },
    });

    init();
    document.addEventListener("astro:after-swap", init)

    function init() {    
        /* Toggle the view between list and grid modes */
        const viewToggles = document.querySelectorAll(".view-toggle") as NodeListOf<HTMLInputElement>;
        const blogList = document.querySelector("#blog-list");
        const blogGrid = document.querySelector("#blog-grid");
        const savedView = localStorage.getItem("view") || 'list';

        document.addEventListener('astro:page-load', () => {
            // Initialize states for toggles
            viewToggles.forEach(toggle => {
                if (toggle.dataset.view == savedView) {
                    toggle.checked = true;
                }
            });

            updateView(savedView);

            viewToggles.forEach(toggle => {
            toggle.addEventListener('click', (e) => {
                const target = e.target as HTMLInputElement;
                const selectedView = target.dataset.view;

                if (!target.checked) return;

                // Sync with other toggle
                viewToggles.forEach((other) => {
                    if (other.dataset.view == selectedView) {
                        other.checked = true;
                    }
                })

                if (selectedView) {
                    updateView(selectedView);
                }
                })
            })

            function updateView(view: string) {
                if (view == "list") {
                    blogGrid?.classList.add("hidden");
                    blogList?.classList.remove("hidden");
                    blogGrid?.classList.add("md:hidden"); 
                    blogGrid?.classList.add("lg:hidden");
                    
                }
                if (view == "grid") {
                    blogList?.classList.add("hidden");
                    blogGrid?.classList.remove("hidden"); 
                    blogGrid?.classList.remove("md:hidden"); 
                    blogGrid?.classList.remove("lg:hidden"); 
                }

                // Save selection in browser
                localStorage.setItem("view", view)
            }

        })
    }


</script>

<style>

</style>

<Layout>
        <main id="smooth-content">
            <section data-lag class="flex flex-col w-full px-8 mx-auto pt-20 xl:px-0">
                <header class="py-32 max-w-5xl mx-auto">
                    <h1 id="hero" class="primary-title text-center max-w-2xl mx-auto">
                        Stories and <span class="secondary-title">Perspectives</span> from William
                    </h1>
                </header>
            </section>

            <section class="px-8 xl:px-0">

                <div id="options" class="flex justify-between gap-16  w-full max-w-5xl mx-auto pb-12 items-center">
                    <!-- <input id="search-blogs-input" placeholder="search" class="bg-(--background-secondary) p-3 rounded-lg w-full"/> -->

                    <span class="hidden w-fit gap-4 lg:flex">
                        <label class="hover:cursor-pointer">
                            <input name="desktop-view" checked data-view="list" class="view-toggle peer sr-only list-radio-btn opacity-50 checked:opacity-100" type="radio"/>
                            <TextAlignJustify id="desktop-grid-icon"  class="opacity-50 peer-checked:opacity-100" size={32}/>
                        </label>
                        <label class="hover:cursor-pointer">
                            <input name="desktop-view" data-view="grid" class="view-toggle peer sr-only grid-radio-btn opacity-50 checked:opacity-100" type="radio"/>
                            <Grid2x2 id="desktop-grid-icon" class="opacity-50 peer-checked:opacity-100" size={32}/>
                        </label>
                    </span>
                </div>


                <ul id="blog-list" class="opacity-100 flex flex-col gap-16 w-full min-h-[600px] max-w-5xl mx-auto px-3 transition-opacity duration-500 ">
                    {allBlogPosts.map((post) => <BlogCard post={post} />)}
                </ul>

                <div id="blog-grid" class="hidden md:hidden lg:hidden flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-5xl mx-auto">
                    {allBlogPosts.map((post) => 
                        <a class="w-full" href={BLOG_URL+post.id}>
                            <Image src={post.data.cover} alt="cover image for blog" fit="fill" width="200" height="400" class="object-cover object-center !m-0 aspect-square block w-full  h-[340px] md:h-[240px] rounded-xl"/>
                            <hgroup class="mt-2">
                                <h3 class="primary-header-3 text-white">{post.data.title}</h3>
								<p class="primary-body text-(--color-gray)">{new Date(post.data.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long',day: 'numeric',})}</p>
                            </hgroup>
                        </a>
                    )}
                </div>


            </section>
            

        </main>
</Layout>


<div id="floating-toggle" class="fixed bottom-0 w-fit h-fit flex flex-col justify-center items-end lg:hidden bg-(--background-secondary) rounded-full mb-8 px-6 py-3 left-[50%] translate-x-[-50%]">
    <span class="flex w-fit gap-4 lg:hidden">
        <label class="hover:cursor-pointer">
            <input name="mobile-view" checked data-view="list" class="view-toggle peer sr-only list-radio-btn opacity-50 checked:opacity-100" type="radio"/>
            <TextAlignJustify id="mobile-list-icon" class="opacity-50 peer-checked:opacity-100" size={32}/>
        </label>
        <label class="hover:cursor-pointer">
            <input name="mobile-view" data-view="grid" class="view-toggle peer sr-only grid-radio-btn opacity-50 checked:opacity-100" type="radio"/>
            <Grid2x2 id="mobile-grid-icon" class="opacity-50 peer-checked:opacity-100" size={32}/>
        </label>
    </span>
</div>