---
import { ClientRouter } from "astro:transitions";
---
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>William Kim Portfolio</title>
<meta name="title" content="William Kim Portfolio" />
<meta name="description" content="showcase of my work and experience" />

<ClientRouter />