---
import "../../styles/global.css";

import Layout from "../../layouts/Layout.astro";
---


<Layout >
	<main id="smooth-content">
        <section data-lag class="flex flex-col w-full px-8 mx-auto pt-20 xl:px-0">
            <header class="py-32 max-w-5xl mx-auto">
                <h1 id="hero" class="primary-title text-center max-w-2xl mx-auto">
                    Projects
                </h1>
            </header>
        </section>
    </main>
</Layout>