---
import "../../styles/global.css";

import Layout from "../../layouts/Layout.astro";
---


<Layout >
	<section class="flex flex-col justify-between mx-auto items-center h-screen w-full px-12 pb-[4rem] pt-[200px] lg:pt-[296px]">
    <h1 class="primary-header-1 text-white">Projects</h1>
    </section>
</Layout>